.stats-card {
  padding: 1.5rem;
  border-radius: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background: linear-gradient(135deg, #ff6b6b, #e63946);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats-grid > div:nth-child(2) {
  background: linear-gradient(135deg, #ff6b6b, #e63946);
}

.stats-grid > div:nth-child(3) {
  background: linear-gradient(135deg, #ff6b6b, #e63946);
}

.stats-card h3 {
  margin-top: 0;
  font-size: rem;
  font-weight: normal;
}

.stat-content {
  margin-top: 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.stat-content p {
  margin: 0rem 0;
  font-size: 3rem;
  font-weight: bold;
}

.text-center {
  text-align: left;
  justify-content: left;
  align-items: left;
}

.distance-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  height: 100%;
}

.distance-text-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.distance-content .main-stat {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

.distance-content .sub-stat {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
}

.distance-content .runner-icon {
  font-size: 4rem;
  margin-top: 0;
}